<div>
    <label>Professor(s)</label>

    <small class="text-muted">
        You can select multiple professors here.
    </small>

    <ul class="professors-list">
        <li ng-repeat="professor in professors" ng-class="{ selected: selected(professor) }">
            <a ng-click="handleSelection(professor)">
                {{ professor.title }} {{ professor.first_name }} {{ professor.first_name }}
            </a>
        </li>
    </ul>

    <div ng-if="professors.length == 0" class="no-professors">
        <i class="fa fa-exclamation fa-4x"></i><br>
        You haven't created any professors yet.
    </div>

</div>